In [1]:
from Bio import SeqIO
import glob
import re
import pandas as pd

In [2]:
files = glob.glob('Organism_FASTA_Files/*.fasta')
files

['Organism_FASTA_Files\\Acidiphilium_cryptum.fasta',
 'Organism_FASTA_Files\\Bacillus_cereus.fasta',
 'Organism_FASTA_Files\\Bacillus_subtilis.fasta',
 'Organism_FASTA_Files\\Bacteroides_fragilis .fasta',
 'Organism_FASTA_Files\\Bacteroides_thetaiotaomicron.fasta',
 'Organism_FASTA_Files\\Cellulophaga_baltica_18.fasta',
 'Organism_FASTA_Files\\Cellvibrio_gilvus.fasta',
 'Organism_FASTA_Files\\Clostridium_ljungdahlii.fasta',
 'Organism_FASTA_Files\\Coprococcus_comes.fasta',
 'Organism_FASTA_Files\\Cupriavidus_necator.fasta',
 'Organism_FASTA_Files\\Delftia_acidovorans.fasta',
 'Organism_FASTA_Files\\Rhodopseudomonas_palustris.fasta',
 'Organism_FASTA_Files\\Ruminococcus_gnavus.fasta',
 'Organism_FASTA_Files\\Stigmatella_aurantiaca.fasta',
 'Organism_FASTA_Files\\Streptomyces griseorubens.fasta',
 'Organism_FASTA_Files\\Sulfobacillus _hermosulfidooxidans.fasta']

In [3]:
outfile = open('organism_genes.csv', 'w')
outfile.write('Organism,Gene,Sequence\n')
for file in files:
    organism = re.search('(?<=\\\).*(?=\.fasta)', file)
    organism = organism.group()
    print(organism)
    genes = []
    multiple_copies = {}
    for seq_record in SeqIO.parse(file, 'fasta'):
        description = seq_record.description
        gene_name = re.search('(?<=GN=)\S*', description)
        if gene_name:
            gene_name = gene_name.group() 
            if gene_name in genes:
                if gene_name in multiple_copies:
                    multiple_copies[gene_name] = multiple_copies[gene_name] + 1
                else:
                    multiple_copies[gene_name] = 1
                gene_name = str(gene_name + ' alt version ' + str(multiple_copies[gene_name]))
            else:
                genes.append(gene_name)
            outfile.write(str(organism + ',' + gene_name + ',' + seq_record.seq +'\n'))
outfile.close()

Acidiphilium_cryptum
Bacillus_cereus
Bacillus_subtilis
Bacteroides_fragilis
Bacteroides_thetaiotaomicron
Cellulophaga_baltica_18
Cellvibrio_gilvus
Clostridium_ljungdahlii
Coprococcus_comes
Cupriavidus_necator
Delftia_acidovorans
Rhodopseudomonas_palustris
Ruminococcus_gnavus
Stigmatella_aurantiaca
Streptomyces griseorubens
Sulfobacillus _hermosulfidooxidans

In [4]:
organism_genes = pd.read_csv('organism_genes.csv')
organism_genes

,Organism,Gene,Sequence
0,Acidiphilium_cryptum,nuoN2,MTAPAFTAKAFAAFAPFTLLGAVTILVMLLIAVRRDHRLVALSTIA...
1,Acidiphilium_cryptum,rlmE,MTEETIGSRRRAAVRLKAARKHKPSSQKWLLRQLNDPYVAAAKERG...
2,Acidiphilium_cryptum,Acry_0770,MIPRLTDAERAALVDLLPEWSLAKDRDAIERRFAFADFSEAFAFMT...
3,Acidiphilium_cryptum,pth,MKLWVGLGNPEPGMARNRHNIGFMAIDVIADRHGFAPWRKRFSGLV...
4,Acidiphilium_cryptum,rplN,MIIVESNLDVADNSGARRVQCIKVLGGSKRRTASVGDVIVVSIKDA...
...,...,...,...
75649,Sulfobacillus _hermosulfidooxidans,C7B47_13575,MIRRSLLARWMLITSSVVALSLMTWALFSLFNVKTPEPARVMPVAH...
75650,Sulfobacillus _hermosulfidooxidans,mtaD,MRYRIETDAILTMDDEFRVFRPGQLTWEDGTIVSVGPVADDATPVD...
75651,Sulfobacillus _hermosulfidooxidans,crcB alt version 1,MNDIIIFVGGFLGAVARFQVGQWVGQRTSGGFPYGTLVINTLGCLF...
75652,Sulfobacillus _hermosulfidooxidans,C7B47_12330,MIFIFPFRGGTTRIYYDDSQSGSGSMSTHLTVKGTTVTVSPWFNNQ...
75653,Sulfobacillus _hermosulfidooxidans,C7B47_09860,MSTVLLVVIGLITGALTGFGGGSAVVIVVPALTQFLHIPFRMAVGT...

In [5]:
organism_genes[organism_genes.Gene.str.contains('argC')]

,Organism,Gene,Sequence
997,Acidiphilium_cryptum,argC,MTRSVFIDGEAGTTGLQIVERLRRMPGVALRSLDPAMRKDPSARRA...
11103,Bacillus_subtilis,argC,MKIGIVGATGYGGTELVRILSHHPHAEECILYSSSGEGNVYSEGYP...
12919,Bacteroides_fragilis,argC,MIKAGIIGGAGYTAGELIRLLINHPETEIVFINSTSNAGNKITDVH...
17084,Bacteroides_thetaiotaomicron,argC,MIKAGIIGGAGYTAGELIRLLLNHPETEIVFINSSSNAGNRITDVH...
22833,Cellulophaga_baltica_18,argC,MIKAGIIGGSGYTGGELIRILLNHPEAEIDFVYSTTRAGKEITTAH...
27656,Cellvibrio_gilvus,argC,MRMSFSVAVAGASGYAGGEMLRVLLQHPEARIETVSAHSNAGSTLG...
31757,Clostridium_ljungdahlii,argC,MVQVGIIGGTGYVGAELLRLLSNHNKVKISAVSSTSYSGKTISSIY...
36217,Coprococcus_comes,argC,MVYMIKAGIIGSTGYAGGELVRILTGHKDVEIKWFGSRSYIDKKYA...
38218,Cupriavidus_necator,argC,MRYPLVFIDGDQGTTGLQIHERLRGRDDLRLLTLPAGQRKDARARA...
40553,Cupriavidus_necator,argC alt version 1,MVFKVFVDGQEGTTGLRLLDYLSGRSDVELLRIADDKRKDPAERAR...
47309,Delftia_acidovorans,argC,MTSLVFIDGDQGTTGLQVREWLADRTDLRLLQLPADQRKSTAHRAE...
48329,Delftia_acidovorans,argC alt version 1,MAKVFIDGEAGTTGLQIRERLVDLSGVELVSIAPELRKDPAAKRAL...
50241,Rhodopseudomonas_palustris,argC,MSKKKIGILGASGYTGAELVRLLLRHPKVELVLLTADRRAGQAMGD...
56283,Ruminococcus_gnavus,argC,MIKAGIIGSTGYAGGELVRILTGHKEAEIKWYGSRSYIDQNYADVY...
61200,Stigmatella_aurantiaca,argC,MSRIHAYILGASGFGGGELLRLLAGHPSVAGLRAVSKPHADTLFWK...
64428,Stigmatella_aurantiaca,argC alt version 1,MANKLKAVILGGSGYGGAELLRRLLFHPHVEVVRTTAGESSGKKVS...
74962,Sulfobacillus _hermosulfidooxidans,argC,MYNHSRGDTMRAVVVGATGYAGQEVVKILARHPEFEIVALTSSRQQ...

In [6]:
conserved_genes = pd.read_csv('Homologous_genes.csv')
conserved_genes

      Unnamed: 0  Gene     Organism
0              2  rsfS  acidovorans
1              6  infB  acidovorans
2              9  rpsF  acidovorans
3             10  nusG  acidovorans
4             14  rplM  acidovorans
...          ...   ...          ...
2089      139883  pyrB         thet
2090      140272   ddl         thet
2091      140387  ftsH         thet
2092      140503  ychF         thet
2093      140789  tatA         thet

[2094 rows x 3 columns]

In [7]:
genes = pd.unique(conserved_genes.Gene)
print(len(genes))
for gene in genes:
    df = organism_genes[organism_genes.Gene.str.contains(gene)]
    file_name = str('Gene_FASTA_Files\\' + gene + '.fasta')
    outfile = open(file_name, 'w')
    for row in df.itertuples():
        header = str('> ' + row.Organism + ' ' + row.Gene + '\n')
        outfile.write(header)
        outfile.write(row.Sequence)
        outfile.write('\n')
    outfile.close()

218

In [8]:
len(conserved_genes[~conserved_genes.Gene.isin(organism_genes.Gene)])

7