In [1]:
from Bio import SeqIO
import glob
import re
import pandas as pd

In [2]:
files = glob.glob('FASTA_Files/*.fasta')
files

['FASTA_Files\\Acidiphilium_cryptum.fasta',
 'FASTA_Files\\Bacillus_cereus.fasta',
 'FASTA_Files\\Bacillus_subtilis.fasta',
 'FASTA_Files\\Bacteroides_fragilis .fasta',
 'FASTA_Files\\Bacteroides_thetaiotaomicron.fasta',
 'FASTA_Files\\Cellulophaga_baltica_18.fasta',
 'FASTA_Files\\Cellvibrio_gilvus.fasta',
 'FASTA_Files\\Clostridium_ljungdahlii.fasta',
 'FASTA_Files\\Coprococcus_comes.fasta',
 'FASTA_Files\\Cupriavidus_necator.fasta',
 'FASTA_Files\\Delftia_acidovorans.fasta',
 'FASTA_Files\\Rhodopseudomonas_palustris.fasta',
 'FASTA_Files\\Ruminococcus_gnavus.fasta',
 'FASTA_Files\\Stigmatella_aurantiaca.fasta',
 'FASTA_Files\\Streptomyces griseorubens.fasta',
 'FASTA_Files\\Sulfobacillus _hermosulfidooxidans.fasta']

In [3]:
outfile = open('organism_genes.csv', 'w')
outfile.write('Organism,Gene,Sequence\n')
for file in files:
    organism = re.search('(?<=\\\).*(?=\.fasta)', file)
    organism = organism.group()
    for seq_record in SeqIO.parse(file, 'fasta'):
        description = seq_record.description
        gene_name = re.search('(?<=GN=)\S*', description)
        if gene_name:
            gene_name = gene_name.group() 
            outfile.write(str(organism + ',' + gene_name + ',' + seq_record.seq +'\n'))
outfile.close()

In [4]:
organism_genes = pd.read_csv('organism_genes.csv')
organism_genes

,Organism,Gene,Sequence
0,Acidiphilium_cryptum,nuoN2,MTAPAFTAKAFAAFAPFTLLGAVTILVMLLIAVRRDHRLVALSTIA...
1,Acidiphilium_cryptum,rlmE,MTEETIGSRRRAAVRLKAARKHKPSSQKWLLRQLNDPYVAAAKERG...
2,Acidiphilium_cryptum,Acry_0770,MIPRLTDAERAALVDLLPEWSLAKDRDAIERRFAFADFSEAFAFMT...
3,Acidiphilium_cryptum,pth,MKLWVGLGNPEPGMARNRHNIGFMAIDVIADRHGFAPWRKRFSGLV...
4,Acidiphilium_cryptum,rplN,MIIVESNLDVADNSGARRVQCIKVLGGSKRRTASVGDVIVVSIKDA...
...,...,...,...
75649,Sulfobacillus _hermosulfidooxidans,C7B47_13575,MIRRSLLARWMLITSSVVALSLMTWALFSLFNVKTPEPARVMPVAH...
75650,Sulfobacillus _hermosulfidooxidans,mtaD,MRYRIETDAILTMDDEFRVFRPGQLTWEDGTIVSVGPVADDATPVD...
75651,Sulfobacillus _hermosulfidooxidans,crcB,MNDIIIFVGGFLGAVARFQVGQWVGQRTSGGFPYGTLVINTLGCLF...
75652,Sulfobacillus _hermosulfidooxidans,C7B47_12330,MIFIFPFRGGTTRIYYDDSQSGSGSMSTHLTVKGTTVTVSPWFNNQ...
75653,Sulfobacillus _hermosulfidooxidans,C7B47_09860,MSTVLLVVIGLITGALTGFGGGSAVVIVVPALTQFLHIPFRMAVGT...

In [5]:
conserved_genes = pd.read_csv('Homologous_genes.csv')
conserved_genes

      Unnamed: 0  Gene     Organism
0              0  rpoD  acidovorans
1              2  rsfS  acidovorans
2              3  rpmB  acidovorans
3              6  infB  acidovorans
4              7  rhlE  acidovorans
...          ...   ...          ...
3307      140562   udk         thet
3308      140789  tatA         thet
3309      140954  rimP         thet
3310      141528  murI         thet
3311      141722  queA         thet

[3312 rows x 3 columns]

In [6]:
genes = pd.unique(conserved_genes.Gene)
print(len(genes))
for gene in genes:
    df = organism_genes[organism_genes.Gene == gene]
    file_name = str('Gene_FASTA_Files\\' + gene + '.fasta')
    outfile = open(file_name, 'w')
    for row in df.itertuples():
        header = str('> ' + row.Organism + ' ' + row.Gene + '\n')
        outfile.write(header)
        outfile.write(row.Sequence)
        outfile.write('\n')
    outfile.close()

627

In [7]:
len(conserved_genes[~conserved_genes.Gene.isin(organism_genes.Gene)])

39